
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .game {
        }

            .game .row {
            }

            .game .cell {
                display: inline-block;
            }
    </style>
</head>
<body>
    <div>
        <span id="sName"></span>
        @ViewBag.Mine;
    </div>
    <div class="game">

    </div>
    <input type="button" id="btnStart" value="游戏开始" />
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/js"></script>
    <script>
        $(function () {
            //$('#sName').text(prompt('请输入玩家名称'));


            var conn = $.connection;
            conn.hub.qs = { "name": $('#sName').text() };

            var mine = conn.mine;

            // 接收服务端消息 用client
            mine.client.hello = function (msg) {
                console.log(msg);
            };

            mine.client.start = function (width, height, map) {
                console.log(width);
                console.log(height);
                console.table(map);

                initMap(width, height, map);
            };

            mine.client.click = function (cells) {
                console.table(cells);
            };

            // 开始链接
            conn.hub.start().done(function () {
                $('#btnStart').click(function () {
                    mine.server.start(10, 10, 10).fail(function (e) { console.log(e) });
                })

                //mine.server.hello()
                //    .done(function () {

                //    })
                //    .fail(function (e) {
                //        alert(e);
                //    });
            })
        });
    </script>
    <script>
        /***********************UI***************************/
        function initMap(width, height, map) {
            var arrRow = [];
            var $row;
            for (var i = 0; i < map.length; i++) {
                if (i % width == 0) {
                    $row = $('<div class="row"/>');
                    arrRow.push($row)

                    $('.game').append($row);
                }

                $row.append('<div class="cell">' + map[i].Status + '</div>')
            }

            //  $('.game').append(arrRow);
        }
    </script>
</body>
</html>
