@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Scripts/css/iconfont.css" rel="stylesheet" />
    <style>
        .game {
            font-size: 0px;
        }

            .game .row {
                clear: both;
            }

            .game .cell {
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                cursor: pointer;
                top: 0;
                left: 0;
                margin: 0;
                padding: 0;
                border: 1px solid rgb(218, 228, 229);
                font-size: 18px;
                box-sizing: border-box;
                float: left;
            }


                .game .cell.unknow {
                    /*opacity: 0;*/
                    background-color: rgb(218, 228, 229);
                    box-shadow: 1px 0px 10px #1B6D85;
                }

                .game .cell.empty {
                    background-color: #F1F1F1;
                    box-shadow: 1px 0px 10px #101010 inset;
                }

                .game .cell.tip {
                    background-color: #F2F2F2;
                    box-shadow: 1px 0px 10px #5CB85C inset;
                    text-align: center;
                }

                .game .cell.flag {
                    background-color: #D0E9C6;
                    box-shadow: 1px 0px 10px #101010;
                }

                    .game .cell.flag:before {
                        font-family: "iconfont" !important;
                        font-size: 20px;
                        color: #C7254E;
                        padding-left: 5px;
                        padding-top: 0px;
                        content: "\e504";
                        position: absolute;
                        font-style: normal;
                        -webkit-font-smoothing: antialiased;
                    }

                .game .cell.minedispaly {
                    background-color: #FBC599;
                    box-shadow: 1px 0px 10px #D93B58 inset;
                }

                    .game .cell.minedispaly:before,
                    .game .cell.mine-active:before {
                        font-family: "iconfont" !important;
                        font-size: 20px;
                        padding-left: 5px;
                        padding-top: 0px;
                        content: "\e60c";
                        position: absolute;
                        color: #F2EBD5;
                        font-style: normal;
                        -webkit-font-smoothing: antialiased;
                    }

                .game .cell.mine-active {
                    background-color: #D95F5F;
                    box-shadow: 1px 0px 10px #080808 inset;
                }

                    .game .cell.mine-active:before {
                        color: #FAFAFA;
                        content: "\e601";
                    }

                .game .cell.marker {
                    box-shadow: 1px 0px 10px #080808 inset;
                }

                    .game .cell.marker:before {
                        padding-left: 10px;
                        content: "?";
                    }
    </style>
</head>
<body>
    <div>
        <span id="sName"></span>
    </div>
    <div class="game">

    </div>
    <input type="button" id="btnStart" value="游戏开始" />
    <input type="button" id="btnReset" value="游戏重置" />
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/js"></script>
    <script>
        console.log("UI参考链接：https://github.com/xxx407410849/MinesSweeper");
    </script>
    <script>
        $(function () {
            //$('#sName').text(prompt('请输入玩家名称'));

            var conn = $.connection;
            conn.hub.qs = { "name": $('#sName').text() };

            var mine = conn.mine;
            mine.client.start = function (width, height, map) {
                //console.log(width);
                //console.log(height);
                //console.table(map);

                initMap(width, height, map);
            };

            mine.client.click = function (cells) {
                console.table(cells);
                refreshMap(cells);
            };

            mine.client.gameOver = function () {
                setTimeout(function () {
                    alert('游戏结束');
                }, 500)

            }

            // 开始链接
            conn.hub.start().done(function () {
                $('#btnStart').click(function () {
                    mine.server.start(10, 10, 10).fail(function (e) { console.log(e) });
                });

                $('#btnReset').click(function () {
                    mine.server.reset(15, 15, 35).fail(function (e) { console.log(e) });
                });

                $('.game').delegate('.cell', 'mousedown', function (e) {
                    if (e.button == 1) {
                        // 点击滚轮
                        return;
                    }

                    var $cell = $(this);
                    console.log($cell.data('x') + '-' + $cell.data('y'));
                    mine.server
                        // 0左键 2右键
                        .click(e.button == 2 ? 1 : 0, {
                            x: $cell.data('x'),
                            y: $cell.data('y')
                        })
                        .fail(function (e) {
                            console.log(e);
                        });
                });
            });
        });
    </script>
    <script>
        /***********************UI***************************/
        function initMap(width, height, map) {
            var $row;
            var $cell;
            $('.game').html('');
            for (var i = 0; i < map.length; i++) {
                if (i % width == 0) {
                    $row = $('<div/>').addClass('row');
                    $('.game').append($row);
                }

                $cell = $('<div/>')
                    .attr('data-x', i % width)
                    .attr('data-y', parseInt(i / width));

                updateCell($cell, map[i].Status);
                $row.append($cell);
            }
        }

        function refreshMap(cells) {
            for (var i = 0; i < cells.length; i++) {
                var $cell = $('.cell[data-x=' + cells[i].X + '][data-y=' + cells[i].Y + ']');

                updateCell($cell, cells[i].Status);
            }
        }

        /**
         * 更新、完善单元格
         * @@param {JqObject} $cell 单元格
         * @@param {int} status 状态码
         */
        function updateCell($cell, status) {
            $cell.prop('class', 'cell');
            switch (status) {
                case 0:
                    $cell.addClass('empty');
                    break;
                case 1:
                case 2:
                case 3:
                case 4:
                case 5:
                case 6:
                case 7:
                case 8:
                    $cell.addClass('tip').text(status);
                    break;
                case -1:
                    $cell.addClass('unknow');
                    break;
                case -11:
                    $cell.addClass('mine-active');
                    break;
                case -12:
                    $cell.addClass('minedispaly');
                    break;
                case -18:
                    $cell.addClass('marker');
                    break;
                case -19:
                    $cell.addClass('flag');
                    break;
                default:
                    $cell.text(status);
                    break;
            }
        }

        $(function () {
            $(document).bind("contextmenu", function (e) {
                // 禁止右键菜单事件
                return false;
            });
        })
    </script>
</body>
</html>
